*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 h1{
     text-align: center;
     color: rgb(3, 1, 17);
     padding: 20px;
 }
 .canteens{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     padding: 30px 20px;
     column-gap: 20px;
     row-gap: 30px;
 }
 .canteen img{
     object-fit: cover;
     cursor: pointer;
     transition: 0.2s,ease;
 }
 .canteen img:hover{
     transform: scale(1.04);
 }
 .canteen h4{
     padding: 5px;
     text-align: center;
     color: black;
 }
 .canteen button{
     padding: 5px 30px;
     border: none;
     outline: none;
     background-color: rgb(226, 170, 124);
     color: black;
     cursor: pointer;
     border-radius: 4px;
     font-size: 20px;
     display: block;
     margin: 0 auto;
     transition: 0.2 all;
 }
 .canteen button:hover{
     transform: scale(1.08);
 }
 @media  screen and (max-width:1000px) {
     .canteen{
         grid-template-columns: repeat(2,1fr);
     }
 }
 @media  screen and (max-width:768px) {
     .canteen{
         grid-template-columns: repeat(1,1fr);
     }
 }